// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #6b665a;
$light-brown:           #807069;
$brown:                 #524f47;
$cream:                 #eae9e0;
$white:                 #ffffff;
$light-gray:            #e9e9e9;
$light-blue:            #bdd0dd;
$blue:                  #7094AD;