/********************* MEDIA QUERIES *********************/
@media (max-width: 1200px) and (min-width: 992px){
  .health-grades .btn, .vitals .btn {
    width: 100%;
  }
  .btn-lg {
    font-size: 16px;
  }
  .back {
    left: 300px;
  }
}
@media (min-width: 1200px){
  .health-grades .btn, .vitals .btn {
    width: 100%;
  }
}
@media (max-width: 992px){
  .health-grades .btn, .vitals .btn {
    width: inherit;
  }
  .img-container img {
    width: 300px;
  }
}
@media (min-width: 992px){
  .full-text-margin {
    width: 650px;
    margin: auto;
  }
  #insurance-container {
    margin: 0 70px;
  }
}
@media (max-width: 991px){
  .custom-row {
    width: 767px;
    .one-third {
      width: 45%;
      float: left;
    }
  }
  #doctor-wrap {
    padding: 0 0 90px;
  }
  .navbar .title h3 {
    font-size: 20px;
  }
  div.map1 {
    display: none;
    visibility: hidden;
  }
  .services .block {
    margin-left: 10px;
    margin-right: 10px;
  }
  .single.single-post {
    text-align: center;
  }
  .back {
    left: 150px;
  }
  .insurance {
    margin-bottom: 0;
  }
  .footer {
    height: 65px;
  }
  .footer p {
    top: 10px
  }
}
@media (min-width: 991px) {
  .custom-row {
    width: 900px;
    margin: auto;
    .one-third {
      width: 33%;
      float: left;
      margin: 10px auto;
    }
  }
}
@media (max-width: 991px) and (min-width: 767px){
  .custom-row {
    .full-width {
      width: 92%;
    }
  }
}
@media (max-width: 991px) and (min-width: 766px){
  .footer-logo img {
    top: 10px;
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  .attribution {
    width: 338px;
    position: relative;
    top: -6px;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top .container {
    width: auto !important;
  }
  .page-id-4 .nav {
    float: none;
    clear: both;
  }
  .nav {
    text-align: center;
  }
  .title h3 {
    float: none;
    text-align: left;
    font-size: 22px;
    padding-left: 15px;
  }
  .content {
    padding: 20px;
    text-align: center;
  }
  span.wpcf7-list-item {
    margin-right: 1em;
  }
  .cta-container {
    top: 80px;
  }
  ul.cta-info {
    text-align: center;
    width: 100%;
  }
  .cta li {
    margin-bottom: 40px;
  }
  .cta-logo {
    top: 480px;
  }
  .full-width-padding {
    padding: 0 30px;
  }
  .margin-top {
    margin-top: 120px;
  }
  .navbar .nav, .back {
    position: relative;
    top: 0px;
    float: left;
    width: 100%;
    left: 0;
  }
  .back {
    margin-top: 10px;
  }
  .navbar .nav > li, .back >li {
    display: block;
    float: none !important;
    text-align: left;
  }
  .navbar .nav li > a:focus,
  .navbar .nav li > a:hover,
  .back > li > a:hover,
  .back > li > a:focus {
    font-weight: 500;
    border-radius: 5px;
    color: #ffffff;
    opacity: 1.0;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  .nav > li > a, .back > li > a {
    padding: 0;
    text-shadow: none !important;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
    opacity: 0.8;
    display: block;
  }
  .custom-row {
    width: 100%;
    .one-third {
      width: 100%;
    }
  }
  .footer, .footer-logo {
    text-align: center !important;
    float: none;
    clear: both;
  }
  .footer-logo img {
    right: 0;
    top: 5px;
  }
  .footer {
    height: 90px;
  }
  .footer p {
    margin: auto;
    position: relative;
    text-align: center;
    font-size: 10px;
    top: 7px;
  }
}
@media (min-width: 767px) {
  .services .col-md-4 {
    width: 33.33333333333333%;
    float: left;
  }
}
@media (min-width: 481px) {
  .mobile-action {
    display: none;
  }
}
@media (max-width: 480px) {
  #home {
    height: 400px;
  }
  .cta-container {
    top: 0;
  }
  .error404  .cta-container {
    top: 110px;
  }
  .header a {
    text-align: center !important;
  }
  h3{
    font-size: 20px;
  }
  p, a{
    font-size: 12px;
  }
  .cta{
    display: none;
  }
  .error404 .cta {
    display: block;
  }
  .services .fa {
    font-size: 2.5em;
  }
  .content {
    padding: 10px;
  }
  .cta-logo {
    top: 300px;
  }
  .error404 .cta-logo {
    top: 500px;
  }
  .cta-logo {
    transform: scale(0.7);
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
  }
  .cta-info li, .cta-info li a{
    font-size: 9px;
  }
  .navbar-fixed-top {
    top: 40px;
  }
  .doctor-card img {
    width: 200px;
    height: 250px;
  }
  .insurances {
    margin: 10px 15px;
  }
  .top {
    font-size: 12px !important;
    padding: 1px 7px;
    margin: 5px -15px 5px 0;
  }
  .line-separator-blue {
    width: 250px !important;
  }
}
@media (max-width: 400px) {
  .cta-container h2{
    font-size: 28px;
  }
  .container h2, #services h2 {
    font-size: 24px;
  }
  .navbar .title h3 {
    font-size: 18px;
  }
  .content {
    padding: 20px 15px;
  }
  .img-container img {
    width: 100%;
  }
}
