.btn-primary {
  background-color: $blue;
  border-color: darken($blue, 8%);
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
}
input[type=submit]{
  width: 20%;
}

.btn-primary:hover, .comment-form input[type=submit]:hover,
.btn-primary:focus, .comment-form input[type=submit]:focus,
.btn-primary:active, .comment-form input[type=submit]:active {
  background-color: darken($blue, 8%) !important;
  border-color: darken($blue, 10%) !important;
}